body {
    margin: 0px;
}

p{
    border: 1px solid red;
    margin: 0px;
    text-align: center;

}

div {
    border: 1px solid black;

}

#dv1 {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#dv2 {
    width: 200px;
    height: 200px;
    margin: auto;
}