.item{
    margin: 5px;
    padding: 5px;
    background-color: #447;
    text-align: center;
    font-size: 1rem;
    color: #fff;    
    
    
}

.container{
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;   
    
    justify-content: center;  /*alinhamento no main axis*/
    align-items:center;  /*alinhamento no cros axis*/
     /*alinhamento das linhas (necessario ter mais de uma linha (wrap))*/
    
}

/* grow => Define quanto o item cresce em relação aos outros quando há espaço livre.
*/
.tam1{
    flex-grow: 1;
}
.tam2{
    flex-grow: 2;
}
.tam3{
    flex-grow: 3;
}

/*força os elementos a ter o mesmo tamanho independente do conteudo*/
.basisA{
    flex-basis: auto;/*não altera*/
}
.basi0{
    flex-basis: 0; /*deixa no mesmo tamanho*/
}

/*atalho para grow - shrink - basis*/
.flexAtalho{
    flex: 1;
}


/* shrink => Define quanto o item encolhe quando o container é menor que o total dos itens.
*/
.reduzir0{
    flex-shrink: 0;
}
.reduzir1{
    flex-shrink: 1;
}

.flex{
    display: flex;
}
.horizontal{
    flex-direction: row;
}
.vertical{
    flex-direction: column;
}
.quebraLinha{
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

