
.submenu {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 1000;
}

/*uso js*/
    .submenu.ativo {
        max-height: 700px;
    }
    .seta-link-menu.ativo{
        transform: rotate(180deg);
    }
    .link-menu.ativo::after {
        content: "";
        position: absolute;
        left: 40%;
        bottom: 20px;
        width: 40%;
        height: 3px;
        border-radius: 3px;
        background-color: white;
        transform-origin: center;
        transform: translateX(-50%) scaleX(1);
        transition: .3s;
    }
/*uso js*/


.container-submenu {
    background-color: var(--cor-cinza-claro);

}

.titulo-submenu {
    font-weight: bold;
    font-size: 1.1rem;
        
}

.container-links-submenu {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.div-submenu-esquerda {
    grid-column: 1/5;
}

.div-submenu-centro {
    grid-column: 5/9;
}

.div-submenu-direita {
    grid-column: 9/13;
}

.lista-submenu-comum,
.lista-submenu-especial {
    margin-top: 20px;
    list-style: none;
}

.lista-submenu-comum li {
    padding: 10px 0px;
}

.lista-submenu-comum a {
    text-decoration: none;
    color: black;
}

.lista-submenu-especial,
.lista-submenu-especial-ajuda {
    list-style: none;
    margin-top: 30px;
}

.lista-submenu-especial a,
.lista-submenu-especial-ajuda a {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.link-comum:hover {
    font-weight: bold;
    text-decoration: underline;
}

.lista-submenu-especial li a span:first-child {
    transition: .3s;
}

.lista-submenu-especial.cores li:nth-child(1) a:hover {
    background: var(--cor-1);
    color: white;
}

.lista-submenu-especial.cores li:nth-child(2) a:hover {
    background: var(--cor-2);
    color: white;
}

.lista-submenu-especial.cores li:nth-child(3) a:hover {
    background: var(--cor-3);
    color: white;
}

.lista-submenu-especial.cores li:nth-child(4) a:hover {
    background: var(--cor-4);
    color: white;
}

.lista-submenu-especial li a:hover,
.lista-submenu-especial-ajuda li a:hover {
    background: var(--cor-cinza-claro-2);
}

.lista-submenu-especial li a:hover span:first-child {
    transform: translateX(20px);
}

.lista-submenu-especial-ajuda li a:hover .especial-ajuda {
    transition: .3s;
}

.lista-submenu-especial-ajuda li a:hover .especial-ajuda {
    transform: translateX(20px);
}

.material-symbols-outlined.icon-2rem{
    font-size: 2rem;
    margin-right: 10px;
}

/*btn abra sua conta*/
.div-abra-conta {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgb(182, 182, 182);
    border-top: 1px solid rgb(182, 182, 182);
    z-index: 1;
}

.link-abra-conta {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    z-index: 2;
}

.container-abra-conta {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    height: 100px;
}

.div-esquerda-abra-conta {
    display: flex;
    align-items: center;
}

.material-symbols-outlined.icon1 {
    font-size: 2rem;
    padding-right: 20px;
}

.material-symbols-outlined.icon2 {
    font-size: 3rem;
}

.link-abra-conta:hover {
    color: rgb(255, 255, 255);
}

.div-abra-conta:hover {
    background-color: var(--cor-1);

}

/*submenu para empresas*/
#link-para-empresas {
    grid-column: 1/5;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 94, 0, 0.767);
    font-size: 1rem;
}

#link-para-empresas:hover {
    color: var(--cor-3);
}

#container-link-para-empresas {
    display: flex;
    align-items: center;
}

#link-para-empresas .material-symbols-outlined.seta {
    font-size: 2rem;
}

/*submenu ajuda*/
.especial-ajuda{
    display: flex;
    align-items: center;
}


/*menu mobile*/
#section-menu-mobile{
    max-width: 100%;;
    height: calc(100vh - 90px);
    z-index: 1000;
    
}

.btn-menu-mobile{
    width: 100%;
    display: flex;
    background-color: var(--cor-branco);
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid var(--cor-cinza-claro-2);
}


.container-btn-menu-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-secundario{
    margin-left: 40px;
    width: calc(100% - 40px);
}

.container-links-mobile{
    margin-left: 60px;
}

.submenu-principal-mobile, .section-menu-mobile,.section-secundaria{
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5);
    opacity: 0;
    transition: .3s ease-in-out;
    
}

.submenu-principal-mobile.ativo,
.section-menu-mobile.ativo,
.section-secundaria.ativo
{
    max-height: 9999px;
    overflow: visible;
    transform: translateY(0);
    opacity: 1;
    
}


