nav{
    background-color: tomato;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.div_menu{
    width: 100px;
}

#corpo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.div_corpo{
    border: 1px solid red;
    width: 200px;
    height: 150px;
    margin: 10px;
}

footer{
    background-color: gray;
    color: white;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}