@keyframes anima{
    0%{top: 0px; left: 0px;}
    25%{top: 0px; left: 500px;}
    50%{top: 500px; left: 500px;}
    75%{top: 500px; left: 0px;}
    100%{top: 0px; left: 0px;}
    
}

p{
    position: relative;
    top: 0px;
    left: 0px;    
    width: 260px;
    height: 260px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    animation-name:anima;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}