* {
    margin: 0px;
    padding: 0px;
}

#div1 {
    height: 100vh;
    background-color: orange;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 90, 0);
}

#div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 124, 161);
}

#div4 {
    height: 100vh;
    background-color: rgb(92, 18, 110);
}

#div2 img {
    width: 80%;
    max-width: 1000px;
}

#div3 img {
    width: 80%;
    max-width: 1000px;

}

.scroll-anima {
    height: 10px;
    background-color: red;
    width: 100%;
    position: fixed;
    top: 0px;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-anima;
    animation-timeline: scroll();
    animation-timing-function: linear;
}

@keyframes scroll-anima {
    to {
        scale: 1 1;
    }
}



article img {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;

}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}

/*
fade-in → nome do @keyframes
linear → progresso constante (sem aceleração)
forwards → mantém o estado final após a animação terminar
📌 Sem forwards, a imagem voltaria a ficar invisível.

animation-range:entry;
inicia ao aparecer, encerra quando aparece100%

animation-range:5% 40%;    
5% → animação começa quando 5% do elemento entra na viewport
40% → animação termina quando 40% do elemento está visível
*/

.carousel, .carousel2 {
    border: 5px solid red;
    width: 90%;
    margin: 100px auto;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}
.carousel2::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.group2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear reverse;
    padding-right: 1em;
}

.card, .card2 {
    flex: 0 0 2em;
    height: 2em;
    padding: 1em;
    background-color: aquamarine;
    font-size: 3rem;
    border-radius: 10px;
    text-align: center;
    align-content: center;

}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        transform: translateX(-100%);
    }
}

.carousel:hover .group{
    animation-play-state: paused;
}