@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(175, 173, 173);
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(175, 173, 173);
    
}
header h1{
    text-align: center;
    padding: 20px;
}

header menu{
    background-color: rgb(95, 94, 94);
    padding: 10px;
    
}

main{
    background-color: white;
    height: 100vh;
    width: 75%;
    
    margin: auto;
}

li{
    display: inline-block;   
  
}

li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;

   
}


li a:hover{
    background-color: rgba(0, 174, 255, 0.274);
    color: black;
    font-weight: bold;
    border-radius: 5px;
 
    
}

article{
    max-width: 800px;
    padding: 10px;
    text-align: justify;
    line-height: 1.4em;
    margin: auto;
    text-indent: 20px;

}

article h2{
    text-align: center;
    padding: 20px;
}