#d1,#d2,#d3{
    border: 10px dotted black;
    padding: 35px;
    background-color: #0f0;
    margin: 10px;
}

#d1{
    background-clip: border-box;
}
#d2{
    background-clip: padding-box;
}
#d3{
    background-clip: content-box;
}