p{
    position: relative;
    left: 0px;
    top: 0px;    
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    columns: 3;
    column-gap: 50px;
    colu

}