@keyframes anima1{
    from{left: 0px; top: 0px;}
    to{left: 500px; top: 500px;}
}

@keyframes anima2{
    from{background-color: white; color: black; left: 500px; top: 500px;}
    to{background-color: red; color: white; left: 500px; top: 500px;}
}

@keyframes anima3{
    from{left: 500px; top: 500px; background-color: red; color: white;}
    to{left: 0px; top: 0px; background-color: red; color: white;}
    
}

@keyframes anima4{
    from{background-color: red; color: white; left: 0px; top: 0px;}
    to{background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); left: 0px; top: 0px;}
}


p{
    position: relative;
    
    width: 260px;
    height: 260px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    animation-name:anima1, anima2, anima3,anima4;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s,2s,4s,6s;
}