@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: "Bebas Neue", sans-serif;*/

@font-face {
    font-family: 'android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'android', arial;
}

header{
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 200px;
    
}
header h1{
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-top: 35px;

}
header p {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 1.2rem;
    padding: 0px 20px;
    font-family: var(--fonte-padrao);
    
}

nav{
    background-color: var(--cor5);
    height: 40px;
    box-shadow: 0px 17px 15px -5px rgba(0, 0, 0, 0.425);;
}
nav ul{    
    display: flex;
    list-style: none;    
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    display: block;
    padding: 11px 15px;
    transition: .3s;
    border-radius: 10px;
    margin-right: 5px;
    
}

nav ul li a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

body{
    background-color: var(--cor0);
}

main{
    background-color:white ;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}

main h1{
    font-family: var(--font-android);
    
}
main h2{
    font-family: var(--font-android);
    background: linear-gradient(to right, var(--cor2),transparent);
    padding: 2px 4px;
    
}

main p{
    font-family: var(--fonte-padrao);
    text-align:justify;
    text-indent: 20px;
    line-height: 35px;
    padding: 25px 0px ;
    font-size: 1.2rem;
}

main img{
    width: 100%;
}
#bugdroid{
    max-width: 350px;
    display: block;
    margin: auto;
}

#divVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    height: 500px;
    width: 100%;
}

#iframeVideo{
    width: 80%;
    height: 440px;
}

aside{
    background-color: var(--cor1);
    margin-top: 30px;
    border-radius: 10px;
    
}

#tituloAside{
    background: var(--cor4);
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: white;
}

aside ul{
    list-style: '\2714\00A0\00A0';
    columns: 2;
    line-height: 2rem;
    margin-left: 40px;
}



footer{
    background-color: var(--cor5);
    color: white;
    height: 50px;
    text-align: center;
    font-family: var(--fonte-padrao);
    padding-top: 15px;
}