#d1{
    width: 300px;
    height: 200px;
    border: 10px solid black;
    padding: 25px;
    box-sizing: border-box;/*não altera o tamanho do elemento*/
}
#d2{
    width: 300px;
    height: 200px;
    border: none;
    padding: 0x;
    background-color: gray;
}