body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;/*define quantidade de colunas e tamanho delas*/
    /*column-gap: 10px; espaço entre colunas*/
    /*row-gap: 10px; espaço entre linhas*/
    gap: 5px 20px; /*espaço entre itens, 1° linhas 2° colunas*/
}

.item{
    background-color: #048;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
}