@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #C7FFED, #D8FFDB);
}

main{
   background-color: white;
   border-radius: 10px; 
   width:800px;
   box-shadow: 5px 5px 15px #5c776f7e;
   margin: auto;
   padding: 10px;
   
}

h1{
    color: #015958;
    text-align: center;
    text-shadow: 3px 3px 2px #01595857;
}

h2{
    color: #008F8C;

}

p{
    text-align:justify;
}